NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx

NEXT_PUBLIC_SUPABASE_URL=https://ktxtnayfjxvhzxtembif.supabase.co NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ouuaxdHROKjJerEG3Pgo6g_OUg8IFNi npx tsx scripts/seed-db.ts