@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-brand-primary: #36b0a9;
  --color-brand-secondary: #277c79;
}

@keyframes marqueeVertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

/* Hidden Arrow Number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}